@page "/popupwarning"
@attribute [Authorize]
@using Radzen
@using Radzen.Blazor

<div class="container-fluid">
    <RadzenCard>
        <RadzenText>For search on Azure DevOps to work is needed to allow Pop-ups and redirects for  https://chaosearch.azurewebsites.net.<br></RadzenText>
        <RadzenText>This can be achived by accessing the Browser Settings, navigating to "Cookies and site permitions", click on "Pop-ups and redirects":<br /> </RadzenText>
        <RadzenImage Path="images/popup1.png" Style="width: 40rem;" />
        <RadzenText><br>Then add a new entry on Allow, with URL https://chaosearch.azurewebsites.net/:<br></RadzenText>
        <RadzenImage Path="images/popup2.png" Style="width: 30rem;" />
        <RadzenImage Path="images/popup3.png" Style="width: 20rem;" />
        <RadzenText><br>Instead of this you can, after the search, click on the Blocked Pop-ups: <br></RadzenText>
        <RadzenImage Path="images/popup4.png" Style="width: 15rem;" />
        <RadzenImage Path="images/popup5.png" Style="width: 15rem;" />
    </RadzenCard>
</div>